.nav-tabs {
  // border-bottom-width: 2px;
  .nav-link {
    // padding: 0.25rem 0.5rem;
    border-radius: 0;
    border-bottom-width: 2px;
    color: $gray-700;
    &.active {
      border-color: #fff #fff $primary;
      color: $primary;
      font-weight: 500;
      &:hover,
      &:focus {
        border-bottom-color: $primary;
      }
    }
    &:hover,
    &:focus {
      border-color: #fff #fff $gray-300;
      background-color: $light;
    }
  }
}

.tab-content {
  padding: 0.5rem 0;
}
